@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}
:root{
    --cor01: #99582A;
    --cor02: #432818;
    --cor03: #FFE6A7;
    --cor04: #6F1D1B;
}

body{
    background-color: var(--cor03);
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

/*Animação*/

@keyframes slide {
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/*imagem*/

div#imagem{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0%;
    height: 100vh;
    width: 50vw;
    background-image: url(imagens/pexels-pew-nguyen-244133.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#imagem > footer#pe > ul#lista{
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    position: relative;
}

div#imagem > footer#pe > ul#lista > a{
    position: relative;
}

/*div#imagem >  footer#pe > ul#lista > a::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    transition: 0.5s ease-in-out;
    visibility: hidden;
    transform: scaleX(0);
}

div#imagem > footer#pe > ul#lista > a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}*/

ul > li{
    list-style: none;
}

div#imagem > footer#pe > ul#lista > li > a{
    text-decoration: none;
    color: white;
}

div#imagem > footer#pe > ul#lista > li > a:hover{
    text-decoration: underline;
}

/*Login*/
main{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > footer#lista{
    display: none;
}

main > div#login{
    width: 400px;
    height: 400px;
    background-color: var(--cor03);
    border: 0.5px solid var(--cor01);
    border-radius: 20px;
    opacity: 0;
    animation: slide 0.5s forwards;
    transform: translateX(200px);
    animation-timing-function: ease;
}

div#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#login > img{
    margin-top: 0px;
}

div#login > h1{
    font-weight: 300;
    font-size: 24px;
    color: var(--cor01);
    margin-top: 0px;
    margin-bottom: 0px;
}

div#login > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#login > form > label.dados{
    color: var(--cor01);
    font-size: 15px;
    margin-right: 270px;
}

div#login > form > input.entrada-dados{
    width: 350px;
    height: 46px;
    border-radius: 0px;
    border-bottom: 1px solid var(--cor01);
    background-color: #ffffff00;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);*/
    margin-top: 5px;
    padding-left: 20px;
    font-size: 16px;
    animation: slide 0.3s forwards;;
}
div#dados-senha{
    margin-top: 5px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    color: var(--cor01);
    font-weight: light;
}

div#login > form > a{
    text-decoration: none;
    color: var(--cor01);
    font-size: 20px;
    text-decoration: underline;
}
div#login > form > div#dados-senha > p > label{
    text-decoration: none;
    color: var(--cor01);
    font-size: 15px;
}

div#login > form > div#dados-senha > a{
    text-decoration: none;
    color: var(--cor01);
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

div#login > form > div#dados-senha > a:hover{
    text-decoration: underline;
    color: var(--cor01);
    transition: all 0.3s ease-in-out;
}

div#login > form > input#btn{
    color: var(--cor01);
    background-color: var(--cor03);
    border: var(--cor01) solid 1px;
    border: solid 1px var(--cor01);
    width: 124px;
    height: 36px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
div#login > form > input#btn:hover{
    background-color: #432818;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    color: white;
    cursor: pointer;
}
/*Rodapé*/



/*Responsividade*/

@media (max-width: 1140px){
    body{
        background-image: url(imagens/pexels-pew-nguyen-244133.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        right: 40px;
    }
    div#imagem{
        display: none;
    }
    div#imagem > footer#pe{
        display: block;
    }
    main > div#login{
        position: relative;
        left: 40px;
        border: 1px solid var(--cor01);
    }
    main > footer#lista{
        display: inline-block;
        position: relative;
        right: 10px;
        width: 400px;
    }
    main > footer#lista > ul{
        display: flex;
        width: 500px;
        justify-content: space-evenly;
    }
    main > footer#lista > ul > li > a{
        color: white;
        text-decoration: none;
    }
    main > footer#lista > ul > li > a:hover{
        text-decoration: underline;
    }
}